$primary-color: #ffc87a;
$text-color: #1a2b5f;
$text-gray :#c6acd7;

html {
  font-size: 62.5%; //1rem = 10px
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Poppins', sans-serif;
  color: $text-color;
  line-height: 1.4;
  font-weight: 400;
  padding-bottom: 5rem;
}

@mixin flex($align: flex-start, $justify: flex-start, $wrap: nowrap) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-wrap: $wrap;
}

@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  margin: 0 auto;
  max-width: calc(1170px + 40px);
  padding-left: 2rem;
  padding-right: 2rem;
}

.header {
  padding-top: 4rem;
  &__inner {
    @include flex(center, space-between, nowrap);
  }

  &__menu {
    &-list {
      @include flex(center);
    }
    &-item {
      margin-left: 5rem;
      &:last-child {
        margin-left: 70px;
      }
    }
    &-link {
      font-size: 1.6rem;
      color: $text-color;
      transition: color 0.25s linear;
      &:hover {
        color: $primary-color;
      }
    }
  }
}

.logo {
  font-size: 2.5rem;
  font-weight: 600;
  color: $text-color;

  &__text {
    color: $primary-color;
  }
}
.btn {
  cursor: pointer;
  outline: none;
  font-size: 1.6rem;
  text-align: center;
  color: $text-color;
  padding: 1.2rem 3rem;
  display: inline-block;
  border: 0;
  background-color: transparent;

  &--border {
    border: 1px solid currentColor;
  }

  &--rounded {
    border-radius: 5rem;
  }

  &--primary {
    background-color: $primary-color;
    &.has-shadow {
      box-shadow: 0 10px 35px -5px $primary-color;
    }
  }
}

.banner {
  padding-top: 15rem;
  max-width: 80rem;
  margin: 0 auto;
  text-align: center;
  &__heading {
    font-weight: 700;
    font-size: 6rem;
  }
  &__desc {
    margin-top: 3rem;
    font-size: 1.8rem;
    font-weight: 300;
    margin-bottom: 4rem;
  }
  &__buttons {
    display: flex;
    justify-content: center;
    align-items: stretch;
    .btn {
      margin: 0 1rem;
    }
  }
}

.category {
  margin-top: 15rem;

  &__list {
    @include flex(stretch, space-between, nowrap);
  }

  &__item {
    width: calc(25% - 22.5px);
    padding: 2.5rem;
    background-color: #fafafa;
    border-radius: 20px;
  }

  &__image {
    @include size(100%, 20rem);
    border-radius: inherit;
    object-fit: cover;
  }

  &__name {
    margin: 3rem 0;
    font-size: 2rem;
    // white-space: nowrap;
    // overflow: hidden;
    // text-overflow: ellipsis;
  }

  &__details {
    // margin-top: 3rem; --> cannot set margin horizontall for inline element
    font-size: 1.4rem;
    color: $text-gray;
    i{ 
      margin-left: 1.2rem;
    }
  }
}
